<!DOCTYPE HTML>
<html>

<head>
  <title>NodeJS & MongoDB Gumball Machine</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
  <div id="main">
    <div id="logo" align='center'>
        <h1> Mighty Gumball Machine Shop</h1>
        
    </div>
    <div align = "center">
       		<img src="images/gumballm.jpg" alt="gumMachine" width= "280" height= "280"/>
        </div>
    
    <div id="site_content">
    	<div align = "center">
    	<p> succesfully added the Machine</p>
        <a class="biz-name" href="/GumballMachinesInventory">Go Back to List Machines</a>
    	</div>
    </div>
    <div id="footer">
      <p></p>
    </div>
  </div>
</body>
</html>
